@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'poppins', sans-serif;
    color: #222;
    background-color: #d3d3d3;
}

.fa-codepen{
    color: red;
}

.navbar{
    padding: .8rem;
    top: 0;
    overflow: hidden;
}

.nav-link {
    font-size: 1.1em !important;
}

.dropdown:hover>.dropdown-menu{
    display: block;
    z-index: auto;
}

.dropdown-menu a{
    color: red;
}

.card{
    border-radius: .8rem;
    background-color: #e5e4d7;
}

.card h3{
    color: red;
}

.card h3:hover{
    color: #d5d5d5;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
    border-radius: .8rem;
}

.carousel-item:hover{
    opacity: 0.4;
}

.carousel-item{
	transition:-webkit-transform 0.5s ease;
	transition:transform 0.5s ease; 
	transition:transform 0.5s ease,-webkit-transform 0.5s ease;
	-webkit-backface-visibility:visible;
	backface-visibility: visible;
}

.carousel-inner size{
    max-height: 100%;
}

.btn-primary{
    background-color: #3f3f3f;
    border: 1px solid #3f3f3f;
}

.btn-primary:hover{
    background-color: forestgreen;
    border: 1px solid forestgreen;
}

.fun{
    width: 100%;
    margin-bottom: 1rem;
}

.gif {
    max-width: 100%;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:99;
}

.sticky + .content {
    padding-top: 60px;
}

@media (max-width: 992px){
}

@media (max-width: 768px){
}

@media (max-width: 576px){
    .carousel-indicators{
        display: none;
    }
    
    .card h3{
        font-size: 160%;
    }

}

/*-----boostrap padding fix----*/
[class*="col-"]{
	padding: 1rem;
}

/*
extra small (xs) devices (potrait phones, less than 576px)
no media query since this is default in bootstrap

small (sm) devices (landscape phones, 576px+)
@media (min-width: 576px) {...}

medium (md) devices (tablets, 768px+)
@media (min-width: 768px) {...}

large (lg) devices (desktop,992px+)
@media (min-width: 992px) {...}

extra large (xl) devices (large desktop, 1200px+)
@media (min-width: 1200px) {...}
*/







